nav {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1800px;
    margin: 20px auto;
    padding: 0 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    @media screen and (max-width: $screen-sm) {
        display: block;
    }

    ul {
        color: #fff;
        
        li {
            display: inline;
            padding-right: 20px;
            box-sizing: border-box;
            
            @media screen and (max-width: $screen-sm) {
                display: block;
            }

            &:last-of-type {
                padding-right: 0;
            }

            a {
                color: #fff;
                font-size: 14px;
            }
        }
    }

    .nav_main {
        display: flex;
        align-items: center;

        @media screen and (max-width: $screen-md) {
            display: block;
        }

        @media screen and (max-width: $screen-xs) {
            float: left;

            ul {
                display: none;
            }
        }

        a {
            text-decoration: none;
        }
    }

    .nav_utility {
        display: flex;
        align-items: center;

        @media screen and (max-width: $screen-md) {
            display: block;
        }

        @media screen and (max-width: $screen-sm) {
            float: right;
            text-align: right;

            ul li {
                margin-bottom: 3px;
            }

            .btn_pill {
                display: inline-block;
                margin-top: 8px;
                margin-right: 15px;
            }
        }
    }

    .logo-container {
        display: flex;
        margin-right: 20px;
        box-sizing: border-box;
    }
}